CONFIG_PLATFORM_SYNTACORE=y
CONFIG_PLATFORM_SYNTACORE_SCR7=y
CONFIG_PLATFORM_SYNTACORE_SDK_HTG960=y
CONFIG_PLATFORM_SYNTACORE_PMP=y
CONFIG_PLATFORM_SYNTACORE_BUNDLED_FDT=y
CONFIG_PLATFORM_SYNTACORE_BUNDLED_FDT_NAME="htg960_scr7"
CONFIG_PLATFORM_SYNTACORE_CLOCK_FREQUENCY=50000000
CONFIG_PLATFORM_SYNTACORE_DRAM_SIZE=0x3fc000000
CONFIG_PLATFORM_SYNTACORE_DRAM_ORDER=34
CONFIG_PLATFORM_SYNTACORE_DMA_ORDER=26
