CONFIG_PLATFORM_SYNTACORE=y
CONFIG_PLATFORM_SYNTACORE_SCR5=y
CONFIG_PLATFORM_SYNTACORE_SWPW=y
CONFIG_PLATFORM_SYNTACORE_SDK_VCU118=y
CONFIG_PLATFORM_SYNTACORE_BUNDLED_FDT=y
CONFIG_PLATFORM_SYNTACORE_BUNDLED_FDT_NAME="vcu118_scr5"
CONFIG_PLATFORM_SYNTACORE_DRAM_SIZE=0x3f000000
CONFIG_PLATFORM_SYNTACORE_DRAM_ORDER=30
CONFIG_PLATFORM_SYNTACORE_NR_CPUS=1
CONFIG_PLATFORM_SYNTACORE_MPU=y
CONFIG_PLATFORM_SYNTACORE_DMA_ORDER=22
