CONFIG_PLATFORM_SYNTACORE=y
CONFIG_PLATFORM_SYNTACORE_SCR7=y
CONFIG_PLATFORM_SYNTACORE_SDK_VCU118=y
CONFIG_PLATFORM_SYNTACORE_PMP=y
CONFIG_PLATFORM_SYNTACORE_BUNDLED_FDT=y
CONFIG_PLATFORM_SYNTACORE_BUNDLED_FDT_NAME="vcu118_scr7"
CONFIG_PLATFORM_SYNTACORE_NR_CPUS=1
