/*
 *  Copyright (C) 2016-2022 Syntacore
 */

/ {
	plic: interrupt-controller@fffffffe000000 {
		#interrupt-cells = <1>;
		#address-cells = <2>;
		#size-cells = <2>;

		compatible = "syntacore,plic", "sifive,plic-1.0.0", "riscv,plic0";
		interrupt-controller;

		interrupts-extended = <
			&cpu0_intc (-1) &cpu0_intc 9
			&cpu1_intc (-1) &cpu1_intc 9
			&cpu2_intc (-1) &cpu2_intc 9
			&cpu3_intc (-1) &cpu3_intc 9
		>;

		reg = <0xffffff 0xfe000000 0x0 0x300000>;
		reg-names = "control";
		riscv,max-priority = <7>;
		riscv,ndev = <16>;
		interrupt-parent = <&cpu0_intc>;
	};
};
