# SPDX-License-Identifier: BSD-2-Clause

menu "IPI Device Support"

config FDT_IPI
	bool "FDT based ipi drivers"
	depends on FDT
	default n

if FDT_IPI

config FDT_IPI_MSWI
	bool "ACLINT MSWI FDT driver"
	select IPI_MSWI
	default n

config FDT_IPI_PLICSW
	bool "Andes PLICSW FDT driver"
	select IPI_PLICSW
	default n


config FDT_IPI_ICCM_MMIO
	bool "Syntacore ICCM MMIO FDT driver"
	select IPI_ICCM_MMIO
	default n

config FDT_IPI_ICCM
	bool "Syntacore ICCM FDT driver"
	select IPI_ICCM
	default n
endif

config IPI_MSWI
	bool "ACLINT MSWI support"
	default n

config IPI_PLICSW
	bool "Andes PLICSW support"
	default n

config IPI_ICCM_MMIO
	bool "Syntacore ICCM MMIO support"
	default n

config IPI_ICCM
	bool "Syntacore ICCM support"
	default n

endmenu
